In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("WPP2019_Period_Indicators_Medium.csv")
data.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,TFR,NRR,CBR,Births,...,CDR,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC
0,4,Afghanistan,2,Medium,1950-1955,1953,7.45,1.636,50.314,2015.476,...,36.862,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.06,29.835
1,4,Afghanistan,2,Medium,1955-1960,1958,7.45,1.765,50.998,2201.589,...,33.718,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.06,29.835
2,4,Afghanistan,2,Medium,1960-1965,1963,7.45,1.899,51.477,2439.130,...,30.808,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.06,29.835
3,4,Afghanistan,2,Medium,1965-1970,1968,7.45,2.017,51.646,2728.221,...,28.223,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.06,29.835
4,4,Afghanistan,2,Medium,1970-1975,1973,7.45,2.141,51.234,3056.451,...,25.495,1520.938,802.414,718.524,-0.335,-20.0,2.544,25.739,1.06,29.835

In [3]:
data['Time']

0        1950-1955
1        1955-1960
2        1960-1965
3        1965-1970
4        1970-1975
           ...
14935    2075-2080
14936    2080-2085
14937    2085-2090
14938    2090-2095
14939    2095-2100
Name: Time, Length: 14940, dtype: object

In [4]:
data[data["Time"]=="1950-1955"]

,LocID,Location,VarID,Variant,Time,MidPeriod,TFR,NRR,CBR,Births,...,CDR,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC
0,4,Afghanistan,2,Medium,1950-1955,1953,7.450,1.636,50.314,2015.476,...,36.862,1476.605,794.020,682.585,-0.499,-20.000,1.296,13.452,1.060,29.835
30,903,Africa,2,Medium,1950-1955,1953,6.573,1.838,47.931,57582.718,...,26.652,32018.267,16565.430,15452.837,-0.507,-609.683,2.079,21.279,1.040,29.510
60,1823,African Group,2,Medium,1950-1955,1953,6.573,1.838,47.930,57507.064,...,26.660,31987.233,16549.139,15438.094,-0.517,-619.938,2.077,21.270,1.040,29.509
90,1560,African Union,2,Medium,1950-1955,1953,6.573,1.838,47.930,57511.282,...,26.660,31989.668,16550.436,15439.232,-0.512,-614.338,2.078,21.270,1.040,29.509
120,2080,African Union: Central Africa,2,Medium,1950-1955,1953,5.904,1.706,45.118,5730.755,...,25.801,3277.111,1666.812,1610.299,-0.599,-76.087,1.873,19.317,1.030,29.098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14790,1801,World Bank Regional Groups (developing only),2,Medium,1950-1955,1953,5.736,1.810,42.246,409131.935,...,22.240,215384.094,112062.036,103322.058,-0.125,-1210.465,1.990,20.006,1.060,29.499
14820,1802,World Bank income groups,2,Medium,1950-1955,1953,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14850,887,Yemen,2,Medium,1950-1955,1953,7.800,1.653,51.441,1238.035,...,36.720,883.742,460.598,423.144,-2.078,-50.000,1.265,14.721,1.050,31.354
14880,894,Zambia,2,Medium,1950-1955,1953,6.700,2.127,47.899,593.394,...,20.895,258.864,135.549,123.315,0.000,0.000,2.704,27.004,1.032,29.889
14910,716,Zimbabwe,2,Medium,1950-1955,1953,6.800,2.459,48.272,719.263,...,16.666,248.322,129.514,118.808,-0.302,-4.507,3.137,31.606,1.030,29.548

In [5]:
data[data["VarID"]==2]

,LocID,Location,VarID,Variant,Time,MidPeriod,TFR,NRR,CBR,Births,...,CDR,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC
0,4,Afghanistan,2,Medium,1950-1955,1953,7.450,1.636,50.314,2015.476,...,36.862,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.060,29.835
1,4,Afghanistan,2,Medium,1955-1960,1958,7.450,1.765,50.998,2201.589,...,33.718,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.060,29.835
2,4,Afghanistan,2,Medium,1960-1965,1963,7.450,1.899,51.477,2439.130,...,30.808,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.060,29.835
3,4,Afghanistan,2,Medium,1965-1970,1968,7.450,2.017,51.646,2728.221,...,28.223,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.060,29.835
4,4,Afghanistan,2,Medium,1970-1975,1973,7.450,2.141,51.234,3056.451,...,25.495,1520.938,802.414,718.524,-0.335,-20.0,2.544,25.739,1.060,29.835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,716,Zimbabwe,2,Medium,2075-2080,2078,1.913,0.919,14.153,2100.753,...,9.407,1396.229,729.240,666.989,-0.337,-50.0,0.441,4.746,1.021,29.872
14936,716,Zimbabwe,2,Medium,2080-2085,2083,1.877,0.903,13.429,2030.941,...,10.001,1512.603,794.805,717.798,-0.331,-50.0,0.310,3.428,1.021,29.984
14937,716,Zimbabwe,2,Medium,2085-2090,2088,1.849,0.891,12.867,1970.518,...,10.631,1627.991,853.756,774.235,-0.326,-50.0,0.191,2.236,1.021,30.094
14938,716,Zimbabwe,2,Medium,2090-2095,2093,1.831,0.883,12.492,1926.925,...,11.191,1726.185,899.147,827.038,-0.324,-50.0,0.098,1.301,1.021,30.201
14939,716,Zimbabwe,2,Medium,2095-2100,2098,1.816,0.876,12.194,1886.759,...,11.611,1796.481,927.691,868.790,-0.323,-50.0,0.026,0.583,1.021,30.307

In [6]:
data.Time.unique()

array(['1950-1955', '1955-1960', '1960-1965', '1965-1970', '1970-1975',
       '1975-1980', '1980-1985', '1985-1990', '1990-1995', '1995-2000',
       '2000-2005', '2005-2010', '2010-2015', '2015-2020', '2020-2025',
       '2025-2030', '2030-2035', '2035-2040', '2040-2045', '2045-2050',
       '2050-2055', '2055-2060', '2060-2065', '2065-2070', '2070-2075',
       '2075-2080', '2080-2085', '2085-2090', '2090-2095', '2095-2100'],
      dtype=object)

In [7]:
data[data["Location"]=="Czechia"]

,LocID,Location,VarID,Variant,Time,MidPeriod,TFR,NRR,CBR,Births,...,CDR,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC
3060,203,Czechia,2,Medium,1950-1955,1953,2.738,1.250,19.724,900.635,...,10.983,501.476,261.542,239.934,1.314,59.997,1.006,8.741,1.058,26.987
3061,203,Czechia,2,Medium,1955-1960,1958,2.377,1.114,15.767,747.056,...,10.179,482.272,253.933,228.339,-0.768,-36.387,0.482,5.588,1.058,26.131
3062,203,Czechia,2,Medium,1960-1965,1963,2.209,1.042,14.533,704.899,...,10.488,508.695,269.403,239.292,0.515,24.999,0.456,4.045,1.058,25.466
3063,203,Czechia,2,Medium,1965-1970,1968,1.957,0.923,14.341,703.756,...,11.582,568.368,301.607,266.761,-2.631,-129.099,0.013,2.759,1.058,25.203
3064,203,Czechia,2,Medium,1970-1975,1973,2.211,1.045,17.384,864.307,...,12.511,622.015,325.310,296.705,0.201,9.999,0.507,4.873,1.058,25.175
3065,203,Czechia,2,Medium,1975-1980,1978,2.359,1.119,17.863,911.871,...,12.591,642.745,330.819,311.926,0.196,9.999,0.547,5.272,1.058,24.956
3066,203,Czechia,2,Medium,1980-1985,1983,1.966,0.936,13.622,704.288,...,12.945,669.277,339.186,330.091,-1.024,-52.946,-0.035,0.677,1.058,24.634
3067,203,Czechia,2,Medium,1985-1990,1988,1.901,0.908,12.685,655.550,...,12.606,651.495,329.202,322.293,0.110,5.671,0.019,0.079,1.058,24.696
3068,203,Czechia,2,Medium,1990-1995,1993,1.646,0.788,11.565,598.476,...,11.810,611.152,309.402,301.750,0.580,29.999,0.033,-0.245,1.058,25.004
3069,203,Czechia,2,Medium,1995-2000,1998,1.167,0.561,8.709,449.534,...,10.933,564.355,283.121,281.234,0.891,46.002,-0.133,-2.224,1.058,26.474
3070,203,Czechia,2,Medium,2000-2005,2003,1.187,0.571,9.123,468.619,...,10.653,547.229,274.387,272.842,0.923,47.402,-0.061,-1.530,1.058,27.953
3071,203,Czechia,2,Medium,2005-2010,2008,1.429,0.689,10.811,562.054,...,10.283,534.593,269.224,265.369,4.826,250.889,0.535,0.528,1.058,29.151
3072,203,Czechia,2,Medium,2010-2015,2013,1.479,0.713,10.406,549.920,...,10.314,545.037,275.440,269.597,1.135,59.997,0.123,0.092,1.058,29.599
3073,203,Czechia,2,Medium,2015-2020,2018,1.641,0.792,10.451,556.789,...,10.497,559.258,277.959,281.299,2.066,110.057,0.202,-0.046,1.058,30.002
3074,203,Czechia,2,Medium,2020-2025,2023,1.682,0.812,9.705,520.836,...,10.867,583.175,291.291,291.884,2.051,110.057,0.089,-1.162,1.058,30.436
3075,203,Czechia,2,Medium,2025-2030,2028,1.711,0.826,9.119,490.164,...,11.387,612.094,305.433,306.661,2.047,110.057,-0.022,-2.268,1.058,30.835
3076,203,Czechia,2,Medium,2030-2035,2033,1.733,0.837,8.958,480.011,...,12.055,645.977,320.114,325.863,2.054,110.057,-0.104,-3.097,1.058,31.189
3077,203,Czechia,2,Medium,2035-2040,2038,1.749,0.845,9.322,496.715,...,12.576,670.153,329.950,340.203,2.065,110.057,-0.119,-3.254,1.058,31.492
3078,203,Czechia,2,Medium,2040-2045,2043,1.758,0.850,9.777,518.292,...,12.723,674.501,332.175,342.326,2.076,110.057,-0.087,-2.946,1.058,31.740
3079,203,Czechia,2,Medium,2045-2050,2048,1.767,0.855,9.936,524.757,...,12.660,668.617,332.056,336.561,2.084,110.057,-0.064,-2.724,1.058,31.932
3080,203,Czechia,2,Medium,2050-2055,2053,1.775,0.859,9.834,517.456,...,12.738,670.289,336.123,334.166,2.092,110.057,-0.081,-2.904,1.058,32.066
3081,203,Czechia,2,Medium,2055-2060,2058,1.780,0.862,9.613,503.079,...,13.107,685.923,345.551,340.372,2.103,110.057,-0.139,-3.494,1.058,32.144
3082,203,Czechia,2,Medium,2060-2065,2063,1.784,0.864,9.488,492.311,...,13.620,706.719,355.486,351.233,2.121,110.057,-0.201,-4.132,1.058,32.167
3083,203,Czechia,2,Medium,2065-2070,2068,1.788,0.866,9.594,492.727,...,13.859,711.756,357.162,354.594,2.143,110.057,-0.212,-4.265,1.058,32.167
3084,203,Czechia,2,Medium,2070-2075,2073,1.791,0.868,9.860,501.730,...,13.566,690.355,346.298,344.057,2.163,110.057,-0.154,-3.706,1.058,32.167
3085,203,Czechia,2,Medium,2075-2080,2078,1.792,0.868,10.073,509.862,...,12.825,649.162,326.926,322.236,2.174,110.057,-0.058,-2.752,1.058,32.167
3086,203,Czechia,2,Medium,2080-2085,2083,1.794,0.870,10.113,511.575,...,11.977,605.844,306.755,299.089,2.176,110.057,0.031,-1.864,1.058,32.167
3087,203,Czechia,2,Medium,2085-2090,2088,1.795,0.870,9.988,506.702,...,11.294,572.979,291.723,281.256,2.169,110.057,0.086,-1.306,1.058,32.167
3088,203,Czechia,2,Medium,2090-2095,2093,1.796,0.871,9.814,500.314,...,10.892,555.253,284.398,270.855,2.159,110.057,0.108,-1.078,1.058,32.167
3089,203,Czechia,2,Medium,2095-2100,2098,1.799,0.873,9.715,497.820,...,10.877,557.384,286.182,271.202,2.148,110.057,0.099,-1.162,1.058,32.167

In [8]:
print(data.VarID.unique())

[2]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14940 entries, 0 to 14939
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LocID          14940 non-null  int64
 1   Location       14940 non-null  object
 2   VarID          14940 non-null  int64
 3   Variant        14940 non-null  object
 4   Time           14940 non-null  object
 5   MidPeriod      14940 non-null  int64
 6   TFR            13290 non-null  float64
 7   NRR            13290 non-null  float64
 8   CBR            13290 non-null  float64
 9   Births         13290 non-null  float64
 10  LEx            13290 non-null  float64
 11  LExMale        13290 non-null  float64
 12  LExFemale      13290 non-null  float64
 13  IMR            13290 non-null  float64
 14  Q5             13290 non-null  float64
 15  CDR            13290 non-null  float64
 16  Deaths         13290 non-null  float64
 17  DeathsMale     13290 non-null  float64
 18  DeathsFemale   13290 non-null  float64
 19  CNMR           13290 non-null  float64
 20  NetMigrations  13290 non-null  float64
 21  GrowthRate     14310 non-null  float64
 22  NatIncr        13290 non-null  float64
 23  SRB            13290 non-null  float64
 24  MAC            13290 non-null  float64
dtypes: float64(19), int64(3), object(3)
memory usage: 2.8+ MB

In [10]:
databeta2 = data.drop(["VarID", "Variant"], axis=1)

In [11]:
databeta2.to_csv("databeta2.csv", encoding="utf-8", index=False)

In [12]:
print(databeta2)

       LocID     Location       Time  MidPeriod    TFR    NRR     CBR  \
0          4  Afghanistan  1950-1955       1953  7.450  1.636  50.314
1          4  Afghanistan  1955-1960       1958  7.450  1.765  50.998
2          4  Afghanistan  1960-1965       1963  7.450  1.899  51.477
3          4  Afghanistan  1965-1970       1968  7.450  2.017  51.646
4          4  Afghanistan  1970-1975       1973  7.450  2.141  51.234
...      ...          ...        ...        ...    ...    ...     ...
14935    716     Zimbabwe  2075-2080       2078  1.913  0.919  14.153
14936    716     Zimbabwe  2080-2085       2083  1.877  0.903  13.429
14937    716     Zimbabwe  2085-2090       2088  1.849  0.891  12.867
14938    716     Zimbabwe  2090-2095       2093  1.831  0.883  12.492
14939    716     Zimbabwe  2095-2100       2098  1.816  0.876  12.194

         Births    LEx  LExMale  ...     CDR    Deaths  DeathsMale  \
0      2015.476  28.61    27.94  ...  36.862  1476.605     794.020
1      2201.589  31.13    30.43  ...  33.718  1455.605     783.110
2      2439.130  33.74    32.99  ...  30.808  1459.784     777.437
3      2728.221  36.15    35.37  ...  28.223  1490.896     790.745
4      3056.451  38.74    37.92  ...  25.495  1520.938     802.414
...         ...    ...      ...  ...     ...       ...         ...
14935  2100.753  72.09    69.39  ...   9.407  1396.229     729.240
14936  2030.941  72.73    69.97  ...  10.001  1512.603     794.805
14937  1970.518  73.36    70.57  ...  10.631  1627.991     853.756
14938  1926.925  74.00    71.19  ...  11.191  1726.185     899.147
14939  1886.759  74.66    71.84  ...  11.611  1796.481     927.691

       DeathsFemale   CNMR  NetMigrations  GrowthRate  NatIncr    SRB     MAC
0           682.585 -0.499          -20.0       1.296   13.452  1.060  29.835
1           672.495 -0.463          -20.0       1.683   17.280  1.060  29.835
2           682.347 -0.422          -20.0       2.026   20.669  1.060  29.835
3           700.151 -0.379          -20.0       2.307   23.423  1.060  29.835
4           718.524 -0.335          -20.0       2.544   25.739  1.060  29.835
...             ...    ...            ...         ...      ...    ...     ...
14935       666.989 -0.337          -50.0       0.441    4.746  1.021  29.872
14936       717.798 -0.331          -50.0       0.310    3.428  1.021  29.984
14937       774.235 -0.326          -50.0       0.191    2.236  1.021  30.094
14938       827.038 -0.324          -50.0       0.098    1.301  1.021  30.201
14939       868.790 -0.323          -50.0       0.026    0.583  1.021  30.307

[14940 rows x 23 columns]

In [13]:
isocodes = pd.read_csv("iso_codes-countries.csv", sep=";", encoding="utf-8")
latlng = pd.read_csv("lat_lng-iso_2.csv", sep=";", encoding="utf-8")

In [14]:
isolatlng = pd.merge(isocodes, latlng, on="id")

In [15]:
print(isolatlng)

      id iso_2 iso_3_x                          country_en       country_cz  \
0      4    AF     AFG                         Afghanistan      Afghánistán
1      8    AL     ALB                             Albania          Albánie
2     10    AQ     ATA                          Antarctica       Antarktida
3     12    DZ     DZA                             Algeria         Alžírsko
4     16    AS     ASM                      American Samoa   Americká Samoa
..   ...   ...     ...                                 ...              ...
236  862    VE     VEN  Venezuela (Bolivarian Republic of)        Venezuela
237  876    WF     WLF                   Wallis and Futuna  Wallis a Futuna
238  882    WS     WSM                               Samoa            Samoa
239  887    YE     YEM                               Yemen            Jemen
240  894    ZM     ZMB                              Zambia           Zambie

      latitude   longitude iso_3_y
0    33.939110   67.709953     AFG
1    41.153332   20.168331     ALB
2   -75.250973   -0.071389     ATA
3    28.033886    1.659626     DZA
4   -14.270972 -170.132217     ASM
..         ...         ...     ...
236   6.423750  -66.589730     VEN
237 -13.768752 -177.156097     WLF
238 -13.759029 -172.104629     WSM
239  15.552727   48.516388     YEM
240 -13.133897   27.849332     ZMB

[241 rows x 8 columns]

In [16]:
isolatlng.rename(columns={"iso_3_x":"iso_3"}, inplace=True)
isolatlng = isolatlng.drop(["iso_3_y"], axis=1)
isolatlng.to_csv("isolatlng_and_name.csv", encoding="utf-8", index=False)

In [17]:
datamerge = pd.merge(databeta2, isolatlng, left_on="LocID", right_on="id")

In [18]:
# print(datamerge)
# datamerge.head()
# datamerge.info()

In [19]:
extradata = pd.read_csv("indikatory_pomocne.csv", sep=";", encoding="utf-8")
datamergetemp = pd.merge(isolatlng, extradata, left_on="id", right_on="LocID")
datamergetemp = datamergetemp.drop(["id","iso_2","iso_3","country_en","country_cz","latitude","longitude","Location","MidPeriod","Variant","Time","VarID"], axis=1)

In [20]:
extradata.info()
datamergetemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14940 entries, 0 to 14939
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LocID      14940 non-null  int64
 1   Location   14940 non-null  object
 2   VarID      14940 non-null  int64
 3   Variant    14940 non-null  object
 4   Time       14940 non-null  object
 5   MidPeriod  14940 non-null  int64
 6   time_rok   14940 non-null  int64
dtypes: int64(4), object(3)
memory usage: 817.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6840 entries, 0 to 6839
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LocID     6840 non-null   int64
 1   time_rok  6840 non-null   int64
dtypes: int64(2)
memory usage: 160.3 KB

In [21]:
#datafinal = datamerge.drop(["LocID", "iso_3_y","Location"], axis=1)
datafinal2 = datamerge.drop(["Location","TFR","NRR","Births","IMR","Q5","Deaths","DeathsMale","DeathsFemale","SRB","MAC"], axis=1)
datafinal2.rename(columns={"iso_3_x":"iso_3","LocID":"loc_id","CBR":"porodnost","LEx":"str_delka_ziv-CLKM","LExMale":"str_delka_ziv-M","LExFemale":"str_delka_ziv-Z","CDR":"umrtnost","CNMR":"mig_saldo_na_1000","NetMigrations":"mig_saldo","GrowthRate":"procentualni_narust_pop","NatIncr":"prirozeny_prirustek_na_1000","Time":"time","MidPeriod":"midperiod"}, inplace=True)
datafinal2.to_csv("datafinal2.csv", encoding="utf-8", index=False)

In [22]:
datafinal2 = datafinal2.round({"porodnost":2,"str_delka_ziv-CLKM":2,"str_delka_ziv-M":2,"str_delka_ziv-Z":2,"umrtnost":2,"mig_saldo_na_1000":2,"mig_saldo":2,"procentualni_narust_pop":2,"prirozeny_prirustek_na_1000":2})
datafinal2.head()
# datafinal2.info()
datafinal2.to_csv("datafinal2.csv", encoding="utf-8", index=False)

In [23]:
### 2020-07-25_13:11
# datafinal2.dropna(axis='columns', how='all')
# datafinal2.fillna(0, inplace=True) 

# datafinal2["pocet_ob_clkm"] = datafinal2.pop_total * 1000
# datafinal2 = datafinal2.astype({"pocet_ob_clkm":int})
# datafinal2["pocet_ob_muzi"] = datafinal2.pop_male * 1000
# datafinal2 = datafinal2.astype({"pocet_ob_muzi":int})
# datafinal2["pocet_ob_zeny"] = datafinal2.pop_female * 1000
# datafinal2 = datafinal2.astype({"pocet_ob_zeny":int})

# datafinal2.pocet_ob_clkm
# datafinal2.pocet_ob_muzi
# datafinal2.pocet_ob_zeny
# datafinal2.to_csv("datafinal2.csv", encoding="utf-8", index=False)

In [24]:
### 2020-07-14_15:31
import openpyxl
datafinal2.to_excel("datafinal2.xlsx", encoding="utf-8", index=False)
print("HOTOVO")

HOTOVO

In [25]:
datafinal2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6840 entries, 0 to 6839
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   loc_id                       6840 non-null   int64
 1   time                         6840 non-null   object
 2   midperiod                    6840 non-null   int64
 3   porodnost                    5940 non-null   float64
 4   str_delka_ziv-CLKM           5940 non-null   float64
 5   str_delka_ziv-M              5940 non-null   float64
 6   str_delka_ziv-Z              5940 non-null   float64
 7   umrtnost                     5940 non-null   float64
 8   mig_saldo_na_1000            5940 non-null   float64
 9   mig_saldo                    5940 non-null   float64
 10  procentualni_narust_pop      6840 non-null   float64
 11  prirozeny_prirustek_na_1000  5940 non-null   float64
 12  id                           6840 non-null   int64
 13  iso_2                        6810 non-null   object
 14  iso_3                        6840 non-null   object
 15  country_en                   6840 non-null   object
 16  country_cz                   6840 non-null   object
 17  latitude                     6840 non-null   float64
 18  longitude                    6840 non-null   float64
dtypes: float64(11), int64(3), object(5)
memory usage: 1.0+ MB

In [26]:
datafinal2final = pd.merge(datafinal2, datamergetemp, left_on="loc_id", right_on="LocID")

In [27]:
datafinal2final = datafinal2final.drop(["LocID"], axis=1)
datafinal2final.info()
datafinal2final.to_csv("datafinal2final.csv", encoding="utf-8", index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205200 entries, 0 to 205199
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loc_id                       205200 non-null  int64
 1   time                         205200 non-null  object
 2   midperiod                    205200 non-null  int64
 3   porodnost                    178200 non-null  float64
 4   str_delka_ziv-CLKM           178200 non-null  float64
 5   str_delka_ziv-M              178200 non-null  float64
 6   str_delka_ziv-Z              178200 non-null  float64
 7   umrtnost                     178200 non-null  float64
 8   mig_saldo_na_1000            178200 non-null  float64
 9   mig_saldo                    178200 non-null  float64
 10  procentualni_narust_pop      205200 non-null  float64
 11  prirozeny_prirustek_na_1000  178200 non-null  float64
 12  id                           205200 non-null  int64
 13  iso_2                        204300 non-null  object
 14  iso_3                        205200 non-null  object
 15  country_en                   205200 non-null  object
 16  country_cz                   205200 non-null  object
 17  latitude                     205200 non-null  float64
 18  longitude                    205200 non-null  float64
 19  time_rok                     205200 non-null  int64
dtypes: float64(11), int64(4), object(5)
memory usage: 32.9+ MB